## Q1 : List Comprehension

In [44]:
if __name__ == '__main__':
    x = int(input())
    y = int(input())
    z = int(input())
    n = int(input())
    
lst = [ [i,j,k] for i in range(x+1) for j in range(y+1) for k in range(z+1) ]

m =[]

for i in lst:
    s=sum(i)  
    
    if s!=n:
        m.append(i)

print(m)

1
1
1
2
[[0, 0, 0], [0, 0, 1], [0, 1, 0], [1, 0, 0], [1, 1, 1]]

## Q2 : Find the Runner up score

In [36]:
if __name__ == '__main__':
    n = int(input())
    arr = map(int, input().split())
    
    arr = list(set(arr))
    
    a = max(arr)
    
    c = arr.count(a)
    
    for i in range(c):
        arr.remove(a)
        
    print(max(arr))

5
2 3 6 6 5
5

## Q3 : Nested Lists

In [41]:
n = int(input())
result = []
grade=[]

for i in range(n):
    name = str(input())
    marks = float(input())
    result.append([name, marks])
    grade.append(marks) 
print(result)
print(grade)
    
grade = sorted(set(grade))
print(grade)
m = grade[1]
print(m)
name = []
for val in result:
    if m==val[1]:
        name.append(val[0])
print(name)
name.sort()
print(name)

for nm in name:
    print(nm)

5
harry
37.21
berry
37.21
tina
37.2
akriti
41
harsh
39
[['harry', 37.21], ['berry', 37.21], ['tina', 37.2], ['akriti', 41.0], ['harsh', 39.0]]
[37.21, 37.21, 37.2, 41.0, 39.0]
[37.2, 37.21, 39.0, 41.0]
37.21
['harry', 'berry']
['berry', 'harry']
berry
harry

In [42]:
#5
#Harry
#37.21
#Berry
#37.21
#Tina
#37.2
#Akriti
#41
#Harsh
#39

## Q4 : Finding the percentage

In [45]:
n = int(input())
student_marks = {}
for _ in range(n):
    name, *line = input().split()
    scores = list(map(float, line))
    student_marks[name] = scores
query_name = input()
    
s = 0
    
for i in student_marks[query_name]:
    s = s+i
print(format((s/3),".2f"))

3
Krishna 67 68 69
Arjun 70 98 63
Malika 52 56 60
Malika
56.00

## Q5 : Lists

In [47]:
lst = []
n = int(input())
for i in range(n):
    s = input().split()
    for i in range(1,len(s)):
        s[i]= int(s[i])
        
    if s[0]=="append":
        lst.append(s[1])
        
    elif s[0]=="insert":
        lst.insert(s[1],s[2])
        
    elif s[0]=="remove":
        lst.remove(s[1])
        
    elif s[0]=="pop":
        lst.pop()
        
    elif s[0]=="sort":
        lst.sort()
    
    elif s[0]=="reverse":
        lst.reverse()
        
    else:
        print(lst)

12
insert 0 15
insert 1 10
insert 0 6
print
[6, 15, 10]
remove 6
append 9
append 1
sort
print
[1, 9, 10, 15]
pop
reverse
print
[10, 9, 1]

## Q6 :  Tuples

In [48]:
n = int(input())
integer_list = tuple(map(int, input().split()))

print(hash(integer_list))

1
1 2
3713081631934410656

## Q7 : Introductions to set

In [62]:
def average(array):
    array = set(array)
    
    return sum(array)/len(array)

if __name__ == '__main__':
    n = int(input())
    arr = list(map(int, input().split()))
    result = average(arr)
    print(result)

10
161 182 161 154 176 170 167 171 170 174
169.375

## Q8 : No Idea!

In [63]:

n,m=list(map(int,input().split()))
arr=list(map(int,input().split()))

A=set(map(int,input().split()))
B=set(map(int,input().split()))

print(sum((i in A) - (i in B) for i in arr))

3 2
1 5 3
3 1
5 7
1

## Q9 : Symmetric Difference

In [64]:
m = int(input())
m_set = set(map(int, input().split()))
n = int(input())
n_set = set(map(int, input().split()))

m_differ_n = m_set.difference(n_set)
n_differ_m = n_set.difference(m_set)

result = list(m_differ_n) + list(n_differ_m)

result = sorted(result)

print(*result,sep="\n")

4
2 4 5 9
4
2 4 11 12
5
9
11
12

## Q10 : Set.add()

In [65]:
n = int(input())
x = [input() for i in range(n)]

cs = set(x)

print(len(cs))

7
UK
CHINA
USA
FRANCE
NEW ZEALAND
UK
FRANCE
5

## Q11 : Set.discard(), .remove() and .pop()

In [67]:
n = int(input())
s = set(map(int, input().split()))

for i in range(int(input())):
    s1 = input().split()
    if s1[0]=='pop':
        s.pop()
    if s1[0]=='remove':
        s.remove(int(s1[1]))
    if s1[0]=='discard':
        s.discard(int(s1[1]))

print(sum(s))

9
1 2 3 4 5 6 7 8 9
10
pop
remove 9
discard 9
discard 8
remove 7
pop
discard 6
remove 5
pop
discard 5
4

## Q12 : Set.union()

In [69]:
a = int(input())
x = set(input().split())
b = int(input())
y = set(input().split())

x = x.union(y)
print(len(x))

9
1 2 3 4 5 6 7 8 9
9
10 1 2 3 11 21 55 6 8
13

## Q13 : Set.interaction()

In [70]:
a = int(input())
x = set(input().split())
b = int(input())
y = set(input().split())

x = x.intersection(y)
print(len(x))

9
1 2 3 4 5 6 7 8 9
9
10 1 2 3 11 21 55 6 8
5

## Q14 : Set .difference()

In [71]:
a = int(input())
x = set(input().split())
b = int(input())
y = set(input().split())

x = x.difference(y)
print(len(x))

9
1 2 3 4 5 6 7 8 9
9
10 1 2 3 11 21 55 6 8
4

## Q15 : Set .symmetric_difference() Operation

In [72]:
a = int(input())
x = set(input().split())
b = int(input())
y = set(input().split())

m = set(x.union(y))
n = set(x.intersection(y))

print(len(m)-len(n))

9
1 2 3 4 5 6 7 8 9
9
10 1 2 3 11 21 55 6 8
8

## Q16 : Set Mutations

In [73]:
a = int(input())
x = set(map(int,input().split()))
b = int(input())

for i in range(b):
    y=input().split(' ')
    if y[0]=="intersection_update":
        z=set(map(int,input().split()))
        x&=z
    elif y[0]=="update":
        z=set(map(int,input().split()))
        x|=z
    elif y[0]=="symmetric_difference_update":
        z=set(map(int,input().split()))
        x^=z
    else:
        z=set(map(int,input().split()))
        x-=z

xyz = 0

for y in x:
    xyz+=y
print(xyz)

16
1 2 3 4 5 6 7 8 9 10 11 12 13 14 24 52
4
intersection_update 10
2 3 5 6 8 9 1 4 7 11
update 2
55 66
symmetric_difference_update 5
22 7 35 62 58
difference_update 7
11 22 35 55 58 62 66
38

## Q17 : The Captain's Room

In [74]:
a = input()
b = input().split(" ")

x = set()
y = set()

for i in b:
    if i not in x:
        x.add(i)
        y.add(i)
    else:
        y.discard(i)
print(y.pop())

5
1 2 3 6 5 4 4 2 5 3 6 1 6 5 3 2 4 1 2 5 1 4 3 6 8 4 3 1 5 6 2
8

## Q18 : Check Subset

In [77]:
for i in range(int(input())):
    a =int(input())
    x=set(map(int,input().split()))
    b =int(input())    
    y=set(map(int,input().split()))
    if x.issubset(y):
        print(True)
    else:
        print(False)

3
5
1 2 3 5 6
9
9 8 5 6 3 2 1 4 7
True
1
2
5
3 6 5 4 1
False
7
1 2 3 5 6 8 9
3
9 8 2
False

## Q19 : Check Strict Superset

In [78]:
a = set(map(int,input().split()))
flag=0
for i in range(int(input())):
    ss = set(map(int,input().split()))
    if a.issuperset(ss) == False:
        flag=1
if flag==1:
    print(False)
else:
    print(True)

1 2 3 4 5 6 7 8 9 10 11 12 23 45 84 78
2
1 2 3 4 5
100 11 12
False